__pycache__
.ros_env.sh
.vscode
rollout_data/
runs_actor/
runs_learner/
crisp_drl.egg-info
checkpoints/
checkpoints_eval/
pixi.lock
parquet/
*parquet*
rollouts
recordings
tensorboard_logs
expert_buffers
*.mp4
imagenet
datasets
ros_ws
sam3
test_images
eval
plots